deny all;

def execve(pathname, argv, envp):
	allow;


def brk(addr):
	allow;

def pread64(fd, buf, count, offset):
	allow;
	
def arch_prctl(code, addr):
	allow;
	
def access(pathname, mode):
if (safetoread_path(pathname)){
	allow;
}
else{
	deny;
}

def openat(dirfd, pathname, flags):
if (flags & 0x80000){
	allow;
}
else{
	deny;
}
	
def fstat(fd, buf):
	allow;
	
def close(fd):
	allow;
	
def read(fd, buf, count):
	allow;
	
def pread(fd, buf, count, offset):
	allow;
	
def mmap(addr, length, prot, flags, fd, offset):
	allow;

def mprotect(addr, len, prot):
	allow;
	
def munmap(addr, length):
	allow;

	
def write(fd, buf, count):
	allow;
	
def exit_group(status):
	allow;
