allow all;

def bind(sockfd, addr, addrlen):
if (safetoread_addr(addr)){
	allow;
}
else{
	deny;
}
def accept(sockfd, addr, addrlen, flags):
if (safetoreada_addr(addr)){
	allow;
}
else{
	deny;
}

def openat(dirfd, pathname, flags):
if (safetoread_path(pathname)) {
    allow;
}
else {
    deny;
}
def access(pathname, mode):
if (mode & 0x4 && safetoread_path(pathname)){
	allow;
}
else{
	deny;
}
def mmap(addr, length, prot, flags, fd, offset):
if ((prot & 0x1)||(prot & 0x3)||(prot & 0x5)){
	if ((flags & 0x2)||(flags & 0x22)||(flags & 0x32)||(flags & 0x802)||(flags & 0x812)){
		allow;
	}
	else{
		deny;
	}
}
else{
	deny;
}
def socket(domain, type, protocol):
if (domain & 0x2 && type & 0x1){
	allow;
}
else{
	deny;
}

def mprotect(addr, len, prot):
if (prot == 0x0 || prot == 0x1){
	allow;
}
else{
	deny;
}
